#cardFinder .MuiButton-contained{
  margin-top: 10px;
}

.relative-container{
  position: relative;
}

.overlayImg{
  position: absolute;
  top: 0;
  width: 94%;
  z-index: 1;
  left: 0;
  max-width: 94%;
  left: 3%;
}
.login-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

}